/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegurar que el contenedor del mapa ocupe todo el espacio asignado */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* Custom scrollbar minimalista para menús móviles */
.scroll-limpio::-webkit-scrollbar {
  width: 4px;
}
.scroll-limpio::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 2px;
}

.text-shadow-retro {
  text-shadow: 4px 4px 0px #3e2723;
}
.pixelated {
  image-rendering: pixelated;
}
/* Ocultar la barra de scroll pero permitir el deslizamiento táctil */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}